<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">TECHDENOVO CUSTOMER PORTAL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/showNewCustomerForm}">Add Customer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="@{/}">List Customers</a>
                </li>                
              </ul>
            </div>
          </nav>
        <div class="container">
            <h1>Customer List</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Customer Id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">EmailId</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer: ${listCustomers}">
                        <td th:text="${customer.id}"></td>
                        <td th:text="${customer.firstName}"></td>
                        <td th:text="${customer.lastName}"></td>
                        <td th:text="${customer.emailId}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</body>
</html>